version: '3.8'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: cloudSpark
      POSTGRES_DB: cloudspark
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    command: bash -c "./create-env.sh"
    environment:
      DATABASE_URL: "postgresql://postgres:cloudSpark@postgres:5432/cloudspark?schema=public"
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3002:3002"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    links:
      - postgres

volumes:
  postgres_data:
